openapi: 3.0.2
servers:
  - description: Production
    url: 'https://api.ucl.ac.uk/AcademicModule/v1'
info:
  description: "# Introduction\nWelcome to the reference for the UCL Academic REST API!\n<a href=\"http://en.wikipedia.org/wiki/REST_API\" target=\"_blank\">REST</a> is a web-service protocol that lends itself to rapid development by using everyday HTTP and JSON, XML technology.\n\nThe UCL Academic REST API provides a broad set of operations and resources that:\n\n  * Enable Web integration from the website.\n  * Support self-service subscriber sign-ups and account management (future).\n  * Enable manipulation of most objects in the Academic Object Model.\n\nWant to share your opinion on how our API works for you? <a href=\"_self\" target=\"_blank\">Tell us how you feel </a>about using our API and what we can do to make it better.\n\n## Access to the API\n\n  You can access the UCL Academic REST API via one of the following endpoints:\n\n| Environment              | Base URL for REST Endpoints |\n|-------------------------|-------------------------|\n|Production | TBC   |\n|UAT    | TBC|\n|Performance Test | TBC |\n\nThe Production endpoint provides access to the live data. UAT tenants are a good place to test code without affecting real-world data. If you would like UCL to provision an UAT tenant for you, contact API service owner for assistance.\n\n\n# API Changelog\nYou can find the <a href=\"_self\" target=\"_blank\">Changelog</a> of the API Reference in the API wiki page.\n\n# Authentication\n\n Authentication detail \n\n# Requests and Responses\n\n## BDO IDs \nAs a general rule, pass BDOid to select / update / delete single resource in academic REST APIs   \n\n## HTTP Request Body\n\nMost of the parameters and data accompanying your requests will be contained in the body of the HTTP request. \n\nThe UCL Academic REST API accepts JSON, XML in the HTTP request body. No other data format (e.g., SOAP, RSS, TEXT) is supported.\n\n## Testing a Request\n\nUse a third party client, such as [curl](https://curl.haxx.se \"curl\"), [Postman](https://www.getpostman.com \"Postman\"), or [Advanced REST Client](https://advancedrestclient.com \"Advanced REST Client\"), to test the UCL Academic REST API.\n\nYou can test the UCL Academic REST API for any enviornment as long as you have sufficient access. If connecting to Production, bear in mind that you are working with your live production data, not sample data or test data.\n\n  Timeout Limit\n\nIf a request does not complete within 120 seconds, the request times out and API platform returns a Gateway Timeout error.\n\n## Error Handling\n\nResponses and error codes are detailed in [Responses and errors](https://wiki.ucl.ac.uk/display/IA/API+Integration+Patterns?preview=/111477057/112333232/API%20Design%20Principles%20Standards.docx). \n\n# API Rate Limits\n\nAPI platform enforces client-level, Rate limiting of the standard API is primarily on a  per-user basis — or more accurately described, per user access token. If a method allows for X requests per rate limit   window, then it allows X requests per window per access token.  \n See below for more information.\n ##  HTTP Headers and Response Codes \n Use the HTTP headers in order to understand where the application is at for a given rate limit,  on the method that was just utilized. \n  *\t`x-rate-limit-limit:`  the rate limit ceiling for that given endpoint, indicates how many calls  your application may make per time window. This time window is currently 60 seconds for most the resources,  but for the most reliable code you should not assume this is the case - use the X-Rate-Limit-Reset header instead. \n  *   `x-rate-limit-remaining:`  the number of requests left for the current time window \n  *   `x-rate-limit-reset:`  the remaining window before the rate limit resets, in UTC \n  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time) \n  When an application exceeds the rate limit for a given API endpoint, the API will return a   [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code,    and the following error will be returned in the response body \n  '{ \"errors\": [ { \"code\": 88, \"message\": \"Rate limit exceeded\" } ] }' \n  and the following response header  `Retry-After: `the remaining window before the rate limit resets, in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)  \n\n ##  Concurrent Request Limits \n\n ### ModuleCatalogue API  \n Number of simultaneous request accepted by API from single clinet for the selected resource at any given time in ms. /  \n\n| Tenant              | GET| PUT | DELETE | POST | \n  |-------------------------|----| ----| -------| -----| \n  |Drupal                   | 1  | N/A | N/A | N/A |\n  \n\n ##  Request Limits \n\n ### ModuleCatalogue API  \n Total number of request accepted by API from single clinet for the selected resource in 24 Hours.  \n\n| Tenant              | GET| PUT | DELETE | POST | \n  |-------------------------|----| ----| -------| -----| \n  |Drupal                   | 20,000  | N/A | N/A | N/A |\n  \n\n# Pagination\n\nWhen retrieving information (using GET methods), the optional `$skip` and '$limit' query parameters sets the stating record and maximum number of record to return in a response. The maximum is `10`; larger values are treated as `10`. If this value is empty or invalid, '$skip' typically defaults to `0` and '$limit' defaults to 10.\n\nThe default value for the maximum number of rows retrieved can be overridden at the method level.\n\nIf more rows are available, the response will the following pagination detail ### Pagination property in the main Body:  \n\n    {  \n        \"Modules\":{  \n          \"Module\":[  \n            {  \n              \"ModuleIdentifier\": .......  \n              ......................  \n            }  \n          ]  \n        },  \n        \"pagination\":[  \n            {  \n              \"pagination\": \"true\",   \n              \"count\": \"100\",   \n              \"offset\": \"10\",   \n              \"limit\": \"10\",   \n            }  \n          ]  \n       }  \n\n\n \n\n## Array Size\n\nFor data items that are not paginated, the REST API supports arrays of up to 50 rows.  \n\n# API Versions\n\nThe Academic REST  API are version controlled. Versioning ensures that UCL Academic REST API changes are backward compatible. This API uses a major and minor version nomenclature to manage changes. By specifying a version in a REST request, you can get expected responses regardless of future changes to the API.\n\n## Major Version\n\nThe major version number of the REST API appears in the REST URL. Currently, Academic API only supports the **v1** major version. For example, `POST https://TBC/v1`.\n\n## Minor Version\n\nAcademic API uses minor versions for the REST API to control small changes. For example, a field in a REST method is deprecated and a new field is used to replace it. \n\nSome fields in the REST methods are supported as of minor versions. If a field is not noted with a minor version, this field is available for all minor versions. If a field is noted with a minor version, this field is in version control. You must specify the supported minor version in the request header to process without an error. \n\nIf a field is in version control, it is either with a minimum minor version or a maximum minor version, or both of them. You can only use this field with the minor version between the minimum and the maximum minor versions.  \n\nIf you specify a version number in the request header that is not supported, API will use the minimum minor version of the REST API. In our REST API documentation, if a field or feature requires a minor version number, we note that in the field description.\n\nYou only need to specify the version number when you use the fields require a minor version. To specify the minor version, set the `minor-version` parameter to the minor version number in the request header for the request call. The `minor-version` parameter is case sensitive.\n\nFor all the REST API fields, by default, if the minor version is not specified in the request header, API will use the minimum minor version of the REST API to avoid breaking your integration. \n\n### Minor Version History\n\nThe supported minor versions are not serial. This section documents the changes made to each UCL Academic REST API minor version.\n\nThe following table lists the supported versions and the fields that have a UCL Academic REST API minor version.\n\n| Fields         | Minor Version      | REST Methods    | Description |\n|:--------|:--------|:--------|:--------|\n | TBC | TBC  | TBC|TBC|    \n\n\n# Academic Object Model\n\n### Module Catalogue Object Model \n\nThe following diagram presents a high-level view of the Module Catalogue objects. Click the image to open it in a new tab to resize it.\n\n<a href=\"https://wiki.ucl.ac.uk/download/attachments/112330630/Target%20Solution%20-%20Information%20Architecture.png?version=2&modificationDate=1553012583000&api=v2\" target=\"_blank\"><img src=\"https://wiki.ucl.ac.uk/download/attachments/112330630/Target%20Solution%20-%20Information%20Architecture.png?version=2&modificationDate=1553012583000&api=v2\" alt=\"Module Object Model Diagram\"></a>\n\nThe following table provides the API name of each Academic object:\n\n| Object                                        | API Name                                   |\n|-----------------------------------------------|--------------------------------------------|\n | Academic Module                                       | `Module`                  |\n |Academic Module Delivery                               | `ModuleDelivery` \n"
  version: 7.0.20190409
  title: UCL Academic API Reference
  x-logo:
    url: Images/isdi_logo_grey-trans-large.png
  contact:
    name: saravanakumar krishnan
    email: saravanakumar.krishnan@ucl.ac.uk
  termsOfService: 'https://www.ucl.ac.uk/isd/services/software-hardware/help/software-policy-faqs'
  license:
    name: UCLl API
    url: 'https://www.ucl.ac.uk/isd/services/software-hardware/help/software-policy-faqs'
externalDocs:
  description: Find more info about interface design here
  url: 'https://liveuclac.sharepoint.com/sites/ampteam/Shared%20Documents/Module%20Catalogue/Interface%20Specification.docx?web=1'
tags:
  - name: Academic Module API
    description: Academic Module Catalogue API
security:
  - oauth2: []
paths:
  /Module:
    get:
      tags:
        - Academic Module API
      summary: /Module
      operationId: Module
      description: |
        Get the list of module(s) in UCL, response includes only module header information that doesn't 
        change based on academic years. 
        ```
        *[Module]
        ```
        [Pagination](#section/Pagination) pagination option is used in this endpoint.
      parameters:
        - in: query
          name: offset
          description: |
            System Query Option identifies a subset of the Entries in the Collection of Entries >
            identified by the Resource Path section of the URI. That subset is defined by seeking N >
            Page navigation option identifies a subset of the Entries in the Collection of Entries >
            identified by the Resource Path section of the URI. This subset is formed by selecting >
            only the first N items of the set, where N is an integer greater than or equal to zero >
            specified by this query option. If a value less than zero is specified, the URI should be >
            considered malformed. Entries in the Collection must first be fully ordered by the data service using default property such >
            as identifier and selecting only the remaining Entries >
            (starting with Entry N+1). While no ordering semantics are mandated, to ensure repeatable results a data service must >
            always use the same semantics to obtain a full ordering across requests.
          allowReserved: false
          schema:
            type: integer
            minimum: 1
            format: int32
            default: 0
          example: 50
        - name: limit
          in: query
          description: |
            Page navigation option identifies a subset of the Entries in the Collection of Entries identified by the Resource Path section of the URI. 
            This subset is formed by selecting only the first N items of the set, where N is an integer greater than or equal to zero 
            specified by this query option, number of entries aka recordset in the response should not exceeds N. 
            If N is less than zero, the URI should be considered malformed.
            Entries in the Collection must first be fully ordered by the service using default property such as identifier. 
            While no ordering semantics are mandated, to ensure repeatable results a data service must always use the same 
            semantics to obtain a full ordering across requests."
          required: false
          allowEmptyValue: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            format: int32
            default: 50
          example: 50
        - name: $filter
          in: query
          description: |
            Query Option identifies a subset of the Entries from the Collection of Entries. 
            Page navigation option identifies a subset of the Entries in the Collection of Entries 
            identified by the Resource Path section of the URI. This subset is formed by selecting 
            only the first N items of the set, where N is an integer greater than or equal to zero 
            specified by this query option. If a value less than zero is specified, the URI should 
            be considered malformed. The subset is determined by selecting only the Entries 
            that satisfy the predicate expression specified by the query option.

            The expression language that is used in `$filter` operators supports references to properties and literals. 

            ### Expression language structure
            ```
              property Op literal
            ```
            NOTE: API only supports following property in the expression language in this version of the API.
            * ModuleCode
            * ModuleSuperGroup
            * ModuleIdentifier

            ### Literal
            Possible literal values 

            | Type     | Description                                | Example   |
            |----------|--------------------------------------------|---------  |
            |string    | This should be enclosed by single quotes ''| 'ANAT0010'| 
            |boolean   | Allowed values true or false               | true      | 
            |number    | valid positive whole numbers               | 2019      | 


            ### Operator
            The operators supported in the expression language are 

            | Operator  | Description          |
            |-----------|----------------------|
            |Eq         | Equal                |
            |Ne         | Not equal            |    
            |Gt         | Greater than         |       
            |Ge         | Greater than or equal|               
            |Lt         | Less than            |        
            |Le         | Less than or equal   |             
            |And        | Logical and          |      
            |Or         | Logical or           |     
            |Not        | Logical negation     |           
            |( )        | Precedence grouping  |              

            #### NOTE: Only 'eq', 'and' operators are supported in this version of the API. 

            ### Examples

            | Description                       |       Example                |
            |-----------------------------------|-----------------------|
            | Returns one or more entities that has the property ModuleCode with the string ANAT0010 | $filter=ModuleCode Eq 'ANAT0010'|
            | Returns one or more entities that has the property SuperModuleGroup with the string GE001 | $filter=SuperModuleGroup Eq 'GE001'|
            | Returns one or more entities that has the property ModuleCode with the string ANAT0010 AND the SuperModuleGroup with the string GE001 | $filter=ModuleCode Eq 'ANAT0010' And SuperModuleGroup Eq 'GE001'|
          schema:
            type: string
          examples:
            Logical-Equal-Number:
              summary: eq
              description: Logical Equal
              value: $filter=ModuleInAcademicYear eq 2019
            Logical-Equal-String:
              summary: and
              description: Logical Equal
              value: $filter=ModuleCode `eq` 'ANAT0010'
            Logical-And:
              summary: and
              description: Logical `And`
              value: $filter=AcademicYearCode `eq` 2019 `and` ModuleCode eq 'ANAT0010'
      responses:
        '200':
          description: |
            Successfull response includes list of module (Header Infomation only, No module detail that subject to change 
            each year is not added.) 
            ```
            *[Module]
            ```
            and pagination detail if more than allowed number of modules is found
            [HATEOAS](#section/Pagination/HATEOAS) for pagination option detail. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Pagination:
                        type: object
                        description: |
                          Contain pagination detail of the current response payload.
                        properties:
                          count:
                            type: integer
                            format: int32
                            description: |
                              Total number of entries in the current resource collection.
                            example: 500
                          limit:
                            type: integer
                            format: int32
                            description: |
                              Number of resources returned in the current resource collection
                            example: 50
                          offset:
                            type: integer
                            format: int32
                            description: |
                              nth resource in the resource collection of N where n <= N.
                            example: 200
                      ModuleCollection:
                        type: object
                        properties:
                          Module:
                            type: array
                            items:
                              type: object
                              title: Module Domain
                              required:
                                - ModuleIdentifier
                                - ModuleTitle
                                - ModuleCode
                              properties:
                                ModuleIdentifier:
                                  title: Unique system identifier of the module (Business Data object aka BDOid).
                                  type: string
                                  nullable: false
                                  minimum: 1
                                  maximum: 50
                                  readOnly: true
                                  pattern: '^([A-Z]|\d)*$'
                                ModuleTitle:
                                  title: Title of the module.
                                  type: string
                                  minLength: 0
                                  maxLength: 120
                                  nullable: false
                                ModuleSearchKeywords:
                                  title: Keywords used to search this module.
                                  type: string
                                  minLength: 0
                                  maxLength: 100
                                  nullable: true
                                ModuleCode:
                                  title: Module code that is unique in UCL that is in the human readable format.
                                  type: string
                                  minLength: 1
                                  maxLength: 12
                                  nullable: false
                                ModuleLearningHours:
                                  title: 'Learning hours of the module, this is indicative only.'
                                  type: integer
                                  minimum: 0
                                  maximum: 9999
                                  format: int32
                                ModuleStudyHours:
                                  title: 'Learning hours of the module, this is indicative only.'
                                  type: integer
                                  minimum: 0
                                  maximum: 9999
                                  format: int32
                                ModuleSuperGroup:
                                  title: Super module grouping such as Meets with Spanish Level 1 and 2
                                  type: string
                                  minLength: 0
                                  maxLength: 50
                                  nullable: true
                                CEFRLevel:
                                  title: Language Modules Only CEFR level
                                  type: string
                                  minLength: 0
                                  maxLength: 50
                                  pattern: '^([A-Z]{1}\d{1}\/?)*$'
                                ModuleContact:
                                  type: object
                                  required:
                                    - Faculty
                                    - Department
                                  properties:
                                    Faculty:
                                      type: object
                                      required:
                                        - FacultyName
                                        - FacultyCode
                                      properties:
                                        FacultyCode:
                                          title: Code of the teaching faculty code to which madule belongs to.
                                          type: string
                                          minLength: 3
                                          maxLength: 3
                                          nullable: false
                                          pattern: '^([A-Z]){3}$'
                                        FacultyName:
                                          title: Name of the teaching faculty to which madule belongs to.
                                          type: string
                                          minLength: 1
                                          maxLength: 150
                                          nullable: false
                                    Department:
                                      type: object
                                      required:
                                        - DepartmentName
                                        - DepartmentCode
                                      properties:
                                        DepartmentCode:
                                          title: Teaching department code in UCL.
                                          type: string
                                          minLength: 3
                                          maxLength: 3
                                          nullable: false
                                          pattern: '^([A-Z]|_|\d|-)*$'
                                        DepartmentName:
                                          title: Teaching department name in UCL.
                                          type: string
                                          minLength: 1
                                          maxLength: 150
                                          nullable: false
                                    Email:
                                      type: string
                                      format: email
                                      title: UCL person email address
                                ModuleValue:
                                  type: number
                                  format: float
                                  title: Credit value awarded to student on the successfull completion of the module.
            application/xml:
              '<<':
                schema:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        Pagination:
                          $ref: '#/paths/~1Module/get/responses/200/content/application~1json/schema/properties/Response/properties/Pagination'
                        ModuleCollection:
                          type: object
                          properties:
                            Module:
                              type: array
                              items:
                                $ref: '#/paths/~1Module/get/responses/200/content/application~1json/schema/properties/Response/properties/ModuleCollection/properties/Module/items'
          headers:
            X-RateLimit-Limit:
              description: Request limit per time window
              schema:
                type: integer
                format: int32
              example: 100
              required: true
            X-RateLimit-Remaining:
              description: Remaining requests for the current time window
              schema:
                type: integer
                format: int32
              example: 94
              required: true
            X-Rate-Limit-Reset:
              description: 'Time to the current window ends, in seconds from the current time.'
              schema:
                type: integer
                format: int32
              example: 1553528925
              required: true
            Retry-After:
              description: |
                When an application exceeds the rate limit for a given API endpoint, the API will return a 
                [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code, 
                and this response header indicate the remaining time window before the rate limit resets, 
                in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)
              schema:
                type: integer
                format: int32
              required: false
              example: 1553528925
        '204': &ref_0
          description: No Content - Successful request but no response body. e.g requesting module filter by modulecode which doesn't exist.
        '400':
          description: 'General Error Code, if none of the others are applicable.'
          content:
            application/json:
              schema:
                type: object
                title: General Error
                required:
                  - Code
                  - Messages
                properties:
                  Request:
                    type: string
                    format: uri
                    description: 'It is the requested URL as it was received by API platform, It is an optional parameter.'
                    example: /moduleinstance/2019
                  Code:
                    type: string
                    description: Machine readable unique code for a specific error. It is a mandatory parameter.
                  Messages:
                    type: array
                    items:
                      type: object
                      required:
                        - Message
                      properties:
                        Message:
                          type: string
                          description: |
                            Human readable message; intended for being displayed. 
                            The message should not be longer than 254 characters.
                            A message can occur multiple times, but only once for each language. It is a mandatory parameter.
                        _Lang:
                          type: string
                          format: lang
                          example: en
                          description: |
                            Indicates the language in which the error name is provided. 
                            It is an optional parameter, when not provided default is english 'en'
            application/xml:
              schema:
                $ref: '#/paths/~1Module/get/responses/400/content/application~1json/schema'
        '401': &ref_1
          description: A User authentication required or credentials unauthorised
        '403': &ref_2
          description: Forbidden; the authenticated user does not have the authorisation to access the resource.
        '404': &ref_3
          description: 'In case two conflicting update requests are made, one of the request must return 409.'
        '409':
          $ref: '#/paths/~1Module/get/responses/400'
        '429': &ref_4
          description: Too Many Requests - Rate limiting applied due to number of requests.
        '500':
          $ref: '#/paths/~1Module/get/responses/400'
        '502': &ref_5
          description: Bad Gateway
  '/Module/{ModuleIdentifier}':
    get:
      tags:
        - Academic Module API
      summary: '/Module/{ModuleIdentifier}'
      operationId: ModuleById
      description: |
        Get single module in UCL by module unique identifier, response includes only module header information that doesn't 
        change based on academic years. 
        ```
        [Module]
        ```
      parameters:
        - name: ModuleIdentifier
          in: path
          required: true
          description: Unique system identifier of the module (Business Data object aka BDOid).
          schema:
            type: string
            minimum: 1
            maximum: 50
            readOnly: true
            pattern: '^([A-Z]|\d)*$'
            example: 123E4567E89b12D3A456426655440000
      responses:
        '200':
          description: |
            Successfull response includes single module (Header Infomation only, No module detail that subject to change 
            each year is not added.) for the given moduleidentifier
            ```
            (**)[Module]
            ```
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Module:
                        type: object
                        title: Module Domain
                        required:
                          - ModuleIdentifier
                          - ModuleTitle
                          - ModuleCode
                        properties:
                          ModuleIdentifier:
                            title: Unique system identifier of the module (Business Data object aka BDOid).
                            type: string
                            nullable: false
                            minimum: 1
                            maximum: 50
                            readOnly: true
                            pattern: '^([A-Z]|\d)*$'
                          ModuleTitle:
                            title: Title of the module.
                            type: string
                            minLength: 0
                            maxLength: 120
                            nullable: false
                          ModuleSearchKeywords:
                            title: Keywords used to search this module.
                            type: string
                            minLength: 0
                            maxLength: 100
                            nullable: true
                          ModuleCode:
                            title: Module code that is unique in UCL that is in the human readable format.
                            type: string
                            minLength: 1
                            maxLength: 12
                            nullable: false
                          ModuleLearningHours:
                            title: 'Learning hours of the module, this is indicative only.'
                            type: integer
                            minimum: 0
                            maximum: 9999
                            format: int32
                          ModuleStudyHours:
                            title: 'Learning hours of the module, this is indicative only.'
                            type: integer
                            minimum: 0
                            maximum: 9999
                            format: int32
                          ModuleSuperGroup:
                            title: Super module grouping such as Meets with Spanish Level 1 and 2
                            type: string
                            minLength: 0
                            maxLength: 50
                            nullable: true
                          CEFRLevel:
                            title: Language Modules Only CEFR level
                            type: string
                            minLength: 0
                            maxLength: 50
                            pattern: '^([A-Z]{1}\d{1}\/?)*$'
                          ModuleContact:
                            type: object
                            required:
                              - Faculty
                              - Department
                            properties:
                              Faculty:
                                type: object
                                required:
                                  - FacultyName
                                  - FacultyCode
                                properties:
                                  FacultyCode:
                                    title: Code of the teaching faculty code to which madule belongs to.
                                    type: string
                                    minLength: 3
                                    maxLength: 3
                                    nullable: false
                                    pattern: '^([A-Z]){3}$'
                                  FacultyName:
                                    title: Name of the teaching faculty to which madule belongs to.
                                    type: string
                                    minLength: 1
                                    maxLength: 150
                                    nullable: false
                              Department:
                                type: object
                                required:
                                  - DepartmentName
                                  - DepartmentCode
                                properties:
                                  DepartmentCode:
                                    title: Teaching department code in UCL.
                                    type: string
                                    minLength: 3
                                    maxLength: 3
                                    nullable: false
                                    pattern: '^([A-Z]|_|\d|-)*$'
                                  DepartmentName:
                                    title: Teaching department name in UCL.
                                    type: string
                                    minLength: 1
                                    maxLength: 150
                                    nullable: false
                              Email:
                                type: string
                                format: email
                                title: UCL person email address
                          ModuleValue:
                            type: number
                            format: float
                            title: Credit value awarded to student on the successfull completion of the module.
            application/xml:
              '<<':
                schema:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        Module:
                          $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D/get/responses/200/content/application~1json/schema/properties/Response/properties/Module'
          headers:
            '<<':
              X-RateLimit-Limit:
                description: Request limit per time window
                schema:
                  type: integer
                  format: int32
                example: 100
                required: true
              X-RateLimit-Remaining:
                description: Remaining requests for the current time window
                schema:
                  type: integer
                  format: int32
                example: 94
                required: true
              X-Rate-Limit-Reset:
                description: 'Time to the current window ends, in seconds from the current time.'
                schema:
                  type: integer
                  format: int32
                example: 1553528925
                required: true
              Retry-After:
                description: |
                  When an application exceeds the rate limit for a given API endpoint, the API will return a 
                  [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code, 
                  and this response header indicate the remaining time window before the rate limit resets, 
                  in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)
                schema:
                  type: integer
                  format: int32
                required: false
                example: 1553528925
        '204': *ref_0
        '400':
          $ref: '#/paths/~1Module/get/responses/400'
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '409':
          $ref: '#/paths/~1Module/get/responses/400'
        '429': *ref_4
        '500':
          $ref: '#/paths/~1Module/get/responses/400'
        '502': *ref_5
  '/Module/{ModuleIdentifier}/ModuleInstance':
    get:
      tags:
        - Academic Module API
      summary: '/Module/{ModuleIdentifier}/ModuleInstance'
      operationId: ModuleInstanceFilterByModuelID
      description: |
        Get the list of module instances for given {moduleidentifier}  in UCL
        ```
        [Module] -(ModuleIdentifier)-> *[Module Instance]
        ```
        [Pagination](#section/Pagination) pagination option is used in this endpoint.
      parameters:
        - $ref: '#/paths/~1Module/get/parameters/2'
        - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D/get/parameters/0'
      responses:
        '200':
          description: |
            Successfull response includes list of module instance and header information 
            ```
            [Module] -(moduleidentifier)-> *[Module Instance]
            ```
            and pagination detail if more than allowed number of modules is found
            [HATEOAS](#section/Pagination/HATEOAS) for pagination option detail. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Module:
                        allOf:
                          - type: object
                            title: Module Domain
                            required:
                              - ModuleIdentifier
                              - ModuleTitle
                              - ModuleCode
                            properties:
                              ModuleIdentifier:
                                title: Unique system identifier of the module (Business Data object aka BDOid).
                                type: string
                                nullable: false
                                minimum: 1
                                maximum: 50
                                readOnly: true
                                pattern: '^([A-Z]|\d)*$'
                              ModuleTitle:
                                title: Title of the module.
                                type: string
                                minLength: 0
                                maxLength: 120
                                nullable: false
                              ModuleSearchKeywords:
                                title: Keywords used to search this module.
                                type: string
                                minLength: 0
                                maxLength: 100
                                nullable: true
                              ModuleCode:
                                title: Module code that is unique in UCL that is in the human readable format.
                                type: string
                                minLength: 1
                                maxLength: 12
                                nullable: false
                              ModuleLearningHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleStudyHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleSuperGroup:
                                title: Super module grouping such as Meets with Spanish Level 1 and 2
                                type: string
                                minLength: 0
                                maxLength: 50
                                nullable: true
                              CEFRLevel:
                                title: Language Modules Only CEFR level
                                type: string
                                minLength: 0
                                maxLength: 50
                                pattern: '^([A-Z]{1}\d{1}\/?)*$'
                              ModuleContact:
                                type: object
                                required:
                                  - Faculty
                                  - Department
                                properties:
                                  Faculty:
                                    type: object
                                    required:
                                      - FacultyName
                                      - FacultyCode
                                    properties:
                                      FacultyCode:
                                        title: Code of the teaching faculty code to which madule belongs to.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]){3}$'
                                      FacultyName:
                                        title: Name of the teaching faculty to which madule belongs to.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Department:
                                    type: object
                                    required:
                                      - DepartmentName
                                      - DepartmentCode
                                    properties:
                                      DepartmentCode:
                                        title: Teaching department code in UCL.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]|_|\d|-)*$'
                                      DepartmentName:
                                        title: Teaching department name in UCL.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Email:
                                    type: string
                                    format: email
                                    title: UCL person email address
                              ModuleValue:
                                type: number
                                format: float
                                title: Credit value awarded to student on the successfull completion of the module.
                          - type: object
                            properties:
                              ModuleInstanceCollection:
                                type: object
                                properties:
                                  ModuleInstance:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                        - AcademicYearCode
                                        - AcademicYearDescription
                                        - ModuleInstanceDescription
                                        - ModuleInstanceSubjectCollection
                                      title: Module for given academic year.
                                      properties:
                                        AcademicYearCode:
                                          title: The module is applicable to the academic year.
                                          type: string
                                          format: int32
                                          minLength: 1
                                          maxLength: 4
                                          pattern: ^(\d)(4)$
                                          nullable: false
                                        AcademicYearDescription:
                                          title: Description of the academic year.
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                          nullable: false
                                        ModuleInstanceDescription:
                                          title: 'Detail of the module, this will contain special character and format instruction on how detail sould be rented in the digital platform.'
                                          type: string
                                          minLength: 100
                                          maxLength: 4000000000
                                          nullable: true
                                        ModuleInstanceRestriction:
                                          title: A restriction applicable on module
                                          type: string
                                          minLength: 0
                                          maxLength: 1000
                                          nullable: true
                                        ModuleInstanceSubjectCollection:
                                          type: object
                                          properties:
                                            ModuleInstanceSubject:
                                              title: The subject this module teaches.
                                              type: array
                                              items:
                                                type: string
                                                minLength: 1
                                                maxLength: 150
                                              nullable: true
            application/xml:
              '<<':
                schema:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        Module:
                          allOf:
                            - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/0'
                            - type: object
                              properties:
                                ModuleInstanceCollection:
                                  type: object
                                  properties:
                                    ModuleInstance:
                                      type: array
                                      items:
                                        $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/1/properties/ModuleInstanceCollection/properties/ModuleInstance/items'
          headers:
            '<<':
              X-RateLimit-Limit:
                description: Request limit per time window
                schema:
                  type: integer
                  format: int32
                example: 100
                required: true
              X-RateLimit-Remaining:
                description: Remaining requests for the current time window
                schema:
                  type: integer
                  format: int32
                example: 94
                required: true
              X-Rate-Limit-Reset:
                description: 'Time to the current window ends, in seconds from the current time.'
                schema:
                  type: integer
                  format: int32
                example: 1553528925
                required: true
              Retry-After:
                description: |
                  When an application exceeds the rate limit for a given API endpoint, the API will return a 
                  [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code, 
                  and this response header indicate the remaining time window before the rate limit resets, 
                  in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)
                schema:
                  type: integer
                  format: int32
                required: false
                example: 1553528925
        '204': *ref_0
        '400':
          $ref: '#/paths/~1Module/get/responses/400'
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '409':
          $ref: '#/paths/~1Module/get/responses/400'
        '429': *ref_4
        '500':
          $ref: '#/paths/~1Module/get/responses/400'
        '502': *ref_5
  '/Module/{ModuleIdentifier}/ModuleInstance/{AcademicYearCode}':
    get:
      tags:
        - Academic Module API
      summary: '/Module/{ModuleIdentifier}/ModuleInstance/{AcademicYearCode}'
      operationId: ModuleInstanceByModuleIDAndYear
      description: |
        Get single module instances for the given {moduleidentifier} and {academic year} in UCL
        ```
        [Module] -(ModuleIdentifier,Academicyear)-> [Module Instance]
        ```
      parameters:
        - name: AcademicYearCode
          in: path
          required: true
          description: Academic year.
          style: simple
          schema:
            type: integer
            format: int32
            minimum: 2017
            maximum: 2050
            nullable: false
          example: 2019
        - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D/get/parameters/0'
      responses:
        '200':
          description: |
            Successfull response includes single module instanc and header information 
            ```
            [Module] -(moduleidentifier , academicyear)-> [Module Instance]
            ```
            and pagination detail if more than allowed number of modules is found
            [HATEOAS](#section/Pagination/HATEOAS) for pagination option detail. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Module:
                        type: object
                        allOf:
                          - type: object
                            title: Module Domain
                            required:
                              - ModuleIdentifier
                              - ModuleTitle
                              - ModuleCode
                            properties:
                              ModuleIdentifier:
                                title: Unique system identifier of the module (Business Data object aka BDOid).
                                type: string
                                nullable: false
                                minimum: 1
                                maximum: 50
                                readOnly: true
                                pattern: '^([A-Z]|\d)*$'
                              ModuleTitle:
                                title: Title of the module.
                                type: string
                                minLength: 0
                                maxLength: 120
                                nullable: false
                              ModuleSearchKeywords:
                                title: Keywords used to search this module.
                                type: string
                                minLength: 0
                                maxLength: 100
                                nullable: true
                              ModuleCode:
                                title: Module code that is unique in UCL that is in the human readable format.
                                type: string
                                minLength: 1
                                maxLength: 12
                                nullable: false
                              ModuleLearningHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleStudyHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleSuperGroup:
                                title: Super module grouping such as Meets with Spanish Level 1 and 2
                                type: string
                                minLength: 0
                                maxLength: 50
                                nullable: true
                              CEFRLevel:
                                title: Language Modules Only CEFR level
                                type: string
                                minLength: 0
                                maxLength: 50
                                pattern: '^([A-Z]{1}\d{1}\/?)*$'
                              ModuleContact:
                                type: object
                                required:
                                  - Faculty
                                  - Department
                                properties:
                                  Faculty:
                                    type: object
                                    required:
                                      - FacultyName
                                      - FacultyCode
                                    properties:
                                      FacultyCode:
                                        title: Code of the teaching faculty code to which madule belongs to.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]){3}$'
                                      FacultyName:
                                        title: Name of the teaching faculty to which madule belongs to.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Department:
                                    type: object
                                    required:
                                      - DepartmentName
                                      - DepartmentCode
                                    properties:
                                      DepartmentCode:
                                        title: Teaching department code in UCL.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]|_|\d|-)*$'
                                      DepartmentName:
                                        title: Teaching department name in UCL.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Email:
                                    type: string
                                    format: email
                                    title: UCL person email address
                              ModuleValue:
                                type: number
                                format: float
                                title: Credit value awarded to student on the successfull completion of the module.
                          - type: object
                            properties:
                              ModuleInstance:
                                type: object
                                required:
                                  - AcademicYearCode
                                  - AcademicYearDescription
                                  - ModuleInstanceDescription
                                  - ModuleInstanceSubjectCollection
                                title: Module for given academic year.
                                properties:
                                  AcademicYearCode:
                                    title: The module is applicable to the academic year.
                                    type: string
                                    format: int32
                                    minLength: 1
                                    maxLength: 4
                                    pattern: ^(\d)(4)$
                                    nullable: false
                                  AcademicYearDescription:
                                    title: Description of the academic year.
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                                    nullable: false
                                  ModuleInstanceDescription:
                                    title: 'Detail of the module, this will contain special character and format instruction on how detail sould be rented in the digital platform.'
                                    type: string
                                    minLength: 100
                                    maxLength: 4000000000
                                    nullable: true
                                  ModuleInstanceRestriction:
                                    title: A restriction applicable on module
                                    type: string
                                    minLength: 0
                                    maxLength: 1000
                                    nullable: true
                                  ModuleInstanceSubjectCollection:
                                    type: object
                                    properties:
                                      ModuleInstanceSubject:
                                        title: The subject this module teaches.
                                        type: array
                                        items:
                                          type: string
                                          minLength: 1
                                          maxLength: 150
                                        nullable: true
            application/xml:
              '<<':
                schema:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        Module:
                          type: object
                          allOf:
                            - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/0'
                            - type: object
                              properties:
                                ModuleInstance:
                                  $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/1/properties/ModuleInstance'
          headers:
            '<<':
              X-RateLimit-Limit:
                description: Request limit per time window
                schema:
                  type: integer
                  format: int32
                example: 100
                required: true
              X-RateLimit-Remaining:
                description: Remaining requests for the current time window
                schema:
                  type: integer
                  format: int32
                example: 94
                required: true
              X-Rate-Limit-Reset:
                description: 'Time to the current window ends, in seconds from the current time.'
                schema:
                  type: integer
                  format: int32
                example: 1553528925
                required: true
              Retry-After:
                description: |
                  When an application exceeds the rate limit for a given API endpoint, the API will return a 
                  [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code, 
                  and this response header indicate the remaining time window before the rate limit resets, 
                  in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)
                schema:
                  type: integer
                  format: int32
                required: false
                example: 1553528925
        '204': *ref_0
        '400':
          $ref: '#/paths/~1Module/get/responses/400'
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '409':
          $ref: '#/paths/~1Module/get/responses/400'
        '429': *ref_4
        '500':
          $ref: '#/paths/~1Module/get/responses/400'
        '502': *ref_5
  '/Module/{ModuleIdentifier}/ModuleInstance/{AcademicYearCode}/ModuleDelivery':
    get:
      tags:
        - Academic Module API
      summary: '/Module/{ModuleIdentifier}/ModuleInstance/{AcademicYearCode}/ModuleDelivery'
      operationId: ModuleDeliveryByModuleIdAndYear
      description: |
        Get the list of module delivery for given {moduleidentifier} and {academic year} in UCL
        ```
        [Module] -(academicyear)-> *[Module Instance] -(academicyear, moduleidentifier)-> *[ModuleDelivery] -> *[ModuleDeliveryAssessment]
        ```
      parameters:
        - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D/get/parameters/0'
        - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D/get/parameters/0'
      responses:
        '200':
          description: |
            Successfull response includes list of module deliveries, instance and header information for the given moduleidentifier and academicyear
            ```
            [Module] -(moduleidentifier, academicyear)-> [Module Instance] -(moduleidentifier, academicyear)-> *[ModuleDelivery] -(ModuleDeliveryIdentifier)->*[ModuleDeliveryAssessment]
            ```
            and pagination detail if more than allowed number of moduledeliveries found
            [HATEOAS](#section/Pagination/HATEOAS) for pagination option detail. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Module:
                        allOf:
                          - type: object
                            title: Module Domain
                            required:
                              - ModuleIdentifier
                              - ModuleTitle
                              - ModuleCode
                            properties:
                              ModuleIdentifier:
                                title: Unique system identifier of the module (Business Data object aka BDOid).
                                type: string
                                nullable: false
                                minimum: 1
                                maximum: 50
                                readOnly: true
                                pattern: '^([A-Z]|\d)*$'
                              ModuleTitle:
                                title: Title of the module.
                                type: string
                                minLength: 0
                                maxLength: 120
                                nullable: false
                              ModuleSearchKeywords:
                                title: Keywords used to search this module.
                                type: string
                                minLength: 0
                                maxLength: 100
                                nullable: true
                              ModuleCode:
                                title: Module code that is unique in UCL that is in the human readable format.
                                type: string
                                minLength: 1
                                maxLength: 12
                                nullable: false
                              ModuleLearningHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleStudyHours:
                                title: 'Learning hours of the module, this is indicative only.'
                                type: integer
                                minimum: 0
                                maximum: 9999
                                format: int32
                              ModuleSuperGroup:
                                title: Super module grouping such as Meets with Spanish Level 1 and 2
                                type: string
                                minLength: 0
                                maxLength: 50
                                nullable: true
                              CEFRLevel:
                                title: Language Modules Only CEFR level
                                type: string
                                minLength: 0
                                maxLength: 50
                                pattern: '^([A-Z]{1}\d{1}\/?)*$'
                              ModuleContact:
                                type: object
                                required:
                                  - Faculty
                                  - Department
                                properties:
                                  Faculty:
                                    type: object
                                    required:
                                      - FacultyName
                                      - FacultyCode
                                    properties:
                                      FacultyCode:
                                        title: Code of the teaching faculty code to which madule belongs to.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]){3}$'
                                      FacultyName:
                                        title: Name of the teaching faculty to which madule belongs to.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Department:
                                    type: object
                                    required:
                                      - DepartmentName
                                      - DepartmentCode
                                    properties:
                                      DepartmentCode:
                                        title: Teaching department code in UCL.
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        nullable: false
                                        pattern: '^([A-Z]|_|\d|-)*$'
                                      DepartmentName:
                                        title: Teaching department name in UCL.
                                        type: string
                                        minLength: 1
                                        maxLength: 150
                                        nullable: false
                                  Email:
                                    type: string
                                    format: email
                                    title: UCL person email address
                              ModuleValue:
                                type: number
                                format: float
                                title: Credit value awarded to student on the successfull completion of the module.
                          - type: object
                            properties:
                              ModuleInstance:
                                allOf:
                                  - type: object
                                    required:
                                      - AcademicYearCode
                                      - AcademicYearDescription
                                      - ModuleInstanceDescription
                                      - ModuleInstanceSubjectCollection
                                    title: Module for given academic year.
                                    properties:
                                      AcademicYearCode:
                                        title: The module is applicable to the academic year.
                                        type: string
                                        format: int32
                                        minLength: 1
                                        maxLength: 4
                                        pattern: ^(\d)(4)$
                                        nullable: false
                                      AcademicYearDescription:
                                        title: Description of the academic year.
                                        type: string
                                        minLength: 1
                                        maxLength: 100
                                        nullable: false
                                      ModuleInstanceDescription:
                                        title: 'Detail of the module, this will contain special character and format instruction on how detail sould be rented in the digital platform.'
                                        type: string
                                        minLength: 100
                                        maxLength: 4000000000
                                        nullable: true
                                      ModuleInstanceRestriction:
                                        title: A restriction applicable on module
                                        type: string
                                        minLength: 0
                                        maxLength: 1000
                                        nullable: true
                                      ModuleInstanceSubjectCollection:
                                        type: object
                                        properties:
                                          ModuleInstanceSubject:
                                            title: The subject this module teaches.
                                            type: array
                                            items:
                                              type: string
                                              minLength: 1
                                              maxLength: 150
                                            nullable: true
                                  - type: object
                                    properties:
                                      ModuleDeliveryCollection:
                                        type: object
                                        properties:
                                          ModuleDelivery:
                                            type: array
                                            items:
                                              type: object
                                              required:
                                                - ModuleDeliveryIdentifier
                                                - ModuleDeliveryPeriod
                                                - ModuleDeliveryLevel
                                                - ModeOfStudy
                                                - ModuleDeliveryType
                                                - NumberOfStudents
                                                - ModuleDeliveryLocation
                                                - ModuleDeliveryContact
                                                - ModuleDeliveryAssessment
                                              title: 'An instance of the module, this domain contains year specific module detail i.e. Detail stored in this domain is subject to change each year for a given module.'
                                              properties:
                                                ModuleDeliveryIdentifier:
                                                  title: Unique identifier for this module delivery
                                                  type: string
                                                  minimum: 1
                                                  maximum: 50
                                                  nullable: false
                                                ModuleDeliveryPeriod:
                                                  type: object
                                                  title: object to represents the period detail of the module delivery.
                                                  required:
                                                    - PeriodTitle
                                                  properties:
                                                    PeriodCode:
                                                      title: module delivery period code.
                                                      type: string
                                                      minLength: 1
                                                      maxLength: 6
                                                    PeriodTitle:
                                                      title: module delivery period title.
                                                      type: string
                                                      minLength: 1
                                                      maxLength: 50
                                                AcademicLevel:
                                                  type: object
                                                  required:
                                                    - AcademicLevelCode
                                                    - AcademicLevelTitle
                                                  properties:
                                                    AcademicLevelCode:
                                                      title: module delivery level code.
                                                      type: string
                                                      minimum: 1
                                                      maximum: 6
                                                      nullable: false
                                                    AcademicLevelTitle:
                                                      title: module delivery level title.
                                                      type: string
                                                      minimum: 1
                                                      maximum: 50
                                                      nullable: false
                                                LevelOfStudy:
                                                  title: module delivery level title.
                                                  description: |
                                                    Assessment for the module is different depends on which programme student 
                                                    is enrolled to. possible programme levels in UCL is 
                                                    * U - Undergraduate 
                                                    * P - Postgraduate
                                                  type: string
                                                  minLength: 1
                                                  maxLength: 50
                                                  nullable: false
                                                ModeOfStudy:
                                                  title: Applicable mode of study for this module such as face-face.
                                                  type: string
                                                  minLength: 1
                                                  maxLength: 15
                                                  nullable: false
                                                ModuleDeliveryTypeCollection:
                                                  type: object
                                                  properties:
                                                    ModuleDeliveryType:
                                                      title: Delivery included in the module such as Field trips and Placements
                                                      type: array
                                                      items:
                                                        - type: object
                                                          properties:
                                                            _Name:
                                                              type: string
                                                              enum:
                                                                - Field Trips
                                                                - Lab Work
                                                                - Work Placements
                                                                - 'Field Trips, Lab Work and Work Placements'
                                                                - Field Trips and Lab Work
                                                                - Field Trips and Work Placements
                                                                - Lab Work and Work Placements
                                                PreviousYearStudentCount:
                                                  title: Number of students enrolled on module in previous year.
                                                  type: number
                                                  minimum: 1
                                                  format: int32
                                                  maximum: 999
                                                  nullable: false
                                                NumberOfStudents:
                                                  title: 'Number of students on module for an acdemic year, if the selected year is the current academic year then this number is an indicative student count.'
                                                  type: number
                                                  minimum: 1
                                                  format: int32
                                                  maximum: 999
                                                  nullable: false
                                                ModuleDeliveryLocation:
                                                  type: object
                                                  required:
                                                    - LocationName
                                                    - LocationIdentifier
                                                  properties:
                                                    LocationIdentifier:
                                                      title: Unique identifier of the UCL location.
                                                      type: string
                                                      minLength: 1
                                                      maxLength: 12
                                                      nullable: false
                                                    LocationName:
                                                      title: Name of the teaching location to which madule belongs to.
                                                      type: string
                                                      minLength: 0
                                                      maxLength: 50
                                                      nullable: false
                                                ModuleDeliveryTutor:
                                                  type: object
                                                  description: domain model that represents contact detail of a UCL person
                                                  required:
                                                    - Name
                                                  properties:
                                                    PersonIdentifier:
                                                      type: string
                                                      title: Unique identifier of the person in UCL
                                                    Name:
                                                      type: string
                                                      title: UCL person full name
                                                    Email:
                                                      type: string
                                                      format: email
                                                      title: UCL person email address
                                                ModuleDeliveryAssessment:
                                                  type: object
                                                  description: |
                                                    List of delivery assessment for this module delivery. This list is ordered by its sequence hence consumer application should honour list order, ignoring the order will not give the desired result.  
                                                  properties:
                                                    AssessmentGroupCollection:
                                                      type: object
                                                      properties:
                                                        _DefaultAssessmentGroup:
                                                          type: string
                                                          minLength: 0
                                                          maxLength: 10
                                                        AssessmentGroup:
                                                          type: array
                                                          items:
                                                            - allOf:
                                                                - type: object
                                                                  properties:
                                                                    AssessmentGroupCode:
                                                                      type: string
                                                                      minLength: 0
                                                                      maxLength: 10
                                                                    AssessmentGroupName:
                                                                      type: string
                                                                      minLength: 0
                                                                      maxLength: 10
                                                                - type: object
                                                                  properties:
                                                                    AssessmentComponentList:
                                                                      title: 'Applicable methods used for assessing the student success on the module such as Essay, Project, Course Assessment'
                                                                      type: object
                                                                      properties:
                                                                        AssessmentComponent:
                                                                          type: array
                                                                          items:
                                                                            - type: object
                                                                              required:
                                                                                - AssessmentWeightPercentage
                                                                                - AssessmentTitle
                                                                              properties:
                                                                                AssessmentComponentTitle:
                                                                                  type: string
                                                                                  minLength: 1
                                                                                  maxLength: 120
                                                                                AssessmentComponentWeightPercentage:
                                                                                  type: integer
                                                                                  minimum: 0
                                                                                  maximum: 100
                                                                                  format: int32
            application/xml:
              '<<':
                schema:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        Module:
                          allOf:
                            - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D~1ModuleDelivery/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/0'
                            - type: object
                              properties:
                                ModuleInstance:
                                  allOf:
                                    - $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D~1ModuleDelivery/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/1/properties/ModuleInstance/allOf/0'
                                    - type: object
                                      properties:
                                        ModuleDeliveryCollection:
                                          type: object
                                          properties:
                                            ModuleDelivery:
                                              type: array
                                              items:
                                                $ref: '#/paths/~1Module~1%7BModuleIdentifier%7D~1ModuleInstance~1%7BAcademicYearCode%7D~1ModuleDelivery/get/responses/200/content/application~1json/schema/properties/Response/properties/Module/allOf/1/properties/ModuleInstance/allOf/1/properties/ModuleDeliveryCollection/properties/ModuleDelivery/items'
          headers:
            '<<':
              X-RateLimit-Limit:
                description: Request limit per time window
                schema:
                  type: integer
                  format: int32
                example: 100
                required: true
              X-RateLimit-Remaining:
                description: Remaining requests for the current time window
                schema:
                  type: integer
                  format: int32
                example: 94
                required: true
              X-Rate-Limit-Reset:
                description: 'Time to the current window ends, in seconds from the current time.'
                schema:
                  type: integer
                  format: int32
                example: 1553528925
                required: true
              Retry-After:
                description: |
                  When an application exceeds the rate limit for a given API endpoint, the API will return a 
                  [HTTP 429 “Too Many Requests”](http://tools.ietf.org/html/rfc6585)  response code, 
                  and this response header indicate the remaining time window before the rate limit resets, 
                  in UTC  [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)
                schema:
                  type: integer
                  format: int32
                required: false
                example: 1553528925
        '204': *ref_0
        '400':
          $ref: '#/paths/~1Module/get/responses/400'
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '409':
          $ref: '#/paths/~1Module/get/responses/400'
        '429': *ref_4
        '500':
          $ref: '#/paths/~1Module/get/responses/400'
        '502': *ref_5
  /ModuleInstance:
    get:
      tags: &ref_6
        - Academic Module API
      summary: /ModuleInstance
      operationId: ModuleCatalogue
      description: |
        Get the all module instances in UCL, response include module instances in current year and all the past years.
        ```
        *[Module Instance (FullDetail)]
        ```
        [Pagination](#section/Pagination) pagination option is used in this endpoint.
      parameters:
        - name: paginate
          in: query
          description: |
            Query Option enables consumer enforced pagination. This should be accompanied with other pagination queryoptions "offset", "limit" 
          schema:
            type: boolean
        - $ref: '#/paths/~1Module/get/parameters/0'
        - $ref: '#/paths/~1Module/get/parameters/1'
        - $ref: '#/paths/~1Module/get/parameters/2'
      responses: &ref_7
        '200':
          description: |
            Successfull response includes list of module instances that matches the passed criteria
            ```
            *[Module Instance]
            ```
            and pagination detail if more than allowed number of modules is found
            [HATEOAS](#section/Pagination/HATEOAS) for pagination option detail. 
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      Pagination:
                        type: object
                        description: |
                          Contain pagination detail of the current response payload.
                        properties:
                          count:
                            type: integer
                            format: int32
                            description: |
                              Total number of entries in the current resource collection.
                            example: 500
                          limit:
                            type: integer
                            format: int32
                            description: |
                              Number of resources returned in the current resource collection
                            example: 50
                          offset:
                            type: integer
                            format: int32
                            description: |
                              nth resource in the resource collection of N where n <= N.
                            example: 200
                      ModuleInstanceCollection:
                        type: object
                        properties:
                          ModuleInstance:
                            type: array
                            items:
                              type: object
                              allOf:
                                - type: object
                                  properties:
                                    ModuleIdentifier:
                                      title: Title of the module.
                                      type: string
                                      minLength: 0
                                      maxLength: 120
                                      nullable: false
                                    ModuleInstanceTitle:
                                      $ref: '#/paths/~1ModuleInstance/get/responses/200/content/application~1json/schema/properties/Response/properties/ModuleInstanceCollection/properties/ModuleInstance/items/allOf/0/properties/ModuleIdentifier'
                                    ModuleInstanceSearchKeywords:
                                      title: Keywords used to search this module.
                                      type: string
                                      minLength: 0
                                      maxLength: 100
                                      nullable: true
                                    ModuleInstanceCode:
                                      title: Module code that is unique in UCL that is in the human readable format.
                                      type: string
                                      minLength: 1
                                      maxLength: 12
                                      nullable: false
                                    ModuleInstanceLearningHours:
                                      title: 'Learning hours of the module, this is indicative only.'
                                      type: integer
                                      minimum: 0
                                      maximum: 9999
                                      format: int32
                                    ModuleInstanceStudyHours:
                                      title: 'Learning hours of the module, this is indicative only.'
                                      type: integer
                                      minimum: 0
                                      maximum: 9999
                                      format: int32
                                    ModuleInstanceSuperGroup:
                                      title: Super module grouping such as Meets with Spanish Level 1 and 2
                                      type: string
                                      minLength: 0
                                      maxLength: 50
                                      nullable: true
                                    CEFRLevel:
[...]
